.drwrap {
  width: 100%;
  height: calc(100vh - 78px);
  overflow: hidden;
  background: #ffffff; }
  @media only screen and (max-width: 1110px) {
    .drwrap {
      height: calc(360px * 8); } }
  @media only screen and (max-width: 720px) {
    .drwrap {
      height: calc(360px * 15); } }
  .drwrap .dritems {
    position: relative;
    width: calc(360px * 9);
    height: calc(360px * 5);
    transform-origin: 0px 0px;
    z-index: 1;
    position: relative;
    /* Large Devices, Wide Screens */ }
    @media only screen and (max-width: 1110px) {
      .drwrap .dritems {
        width: calc(360px * 2);
        margin: 0 auto; }
        .drwrap .dritems .dritem:nth-child(n+16) {
          display: none; } }
    @media only screen and (max-width: 720px) {
      .drwrap .dritems {
        width: calc(360px); } }
    .drwrap .dritems .dritem {
      width: 360px;
      height: 360px;
      transition: transform .2s linear;
      position: relative;
      font-size: 100px;
      display: inline-block; }
      @media only screen and (max-width: 1110px) {
        .drwrap .dritems .dritem {
          transform: translate3d(0px, 0px, 0px) scale(1) !important;
          transition: transform 0s linear  !important; } }
      .drwrap .dritems .dritem .choco_wrapp {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        height: 100%;
        background-size: cover;
        transition: all .2s linear;
        position: relative; }
        .drwrap .dritems .dritem .choco_wrapp:before {
          content: "";
          display: inline-block;
          height: 90%;
          width: 90%;
          background: #dfe2e9;
          border-radius: 50%;
          position: relative;
          z-index: -1;
          transition: all .2s linear; }
        .drwrap .dritems .dritem .choco_wrapp:hover:before {
          background: #bc9033;
          transition: all .2s linear; }
        .drwrap .dritems .dritem .choco_wrapp:hover:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          background: transparent;
          height: 100%;
          width: 100%;
          border-radius: 50%;
          border: 1px solid #f2ead9;
          z-index: -1;
          transition: all .2s linear; }
      .drwrap .dritems .dritem:nth-child(1) .choco_wrapp {
        background: url("../img/chocolate/rs-1.png") center center; }
      .drwrap .dritems .dritem:nth-child(1):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-1-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(2) .choco_wrapp {
        background: url("../img/chocolate/rs-2.png") center center; }
      .drwrap .dritems .dritem:nth-child(2):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-2-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(3) .choco_wrapp {
        background: url("../img/chocolate/rs-3.png") center center; }
      .drwrap .dritems .dritem:nth-child(3):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-3-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(4) .choco_wrapp {
        background: url("../img/chocolate/rs-4.png") center center; }
      .drwrap .dritems .dritem:nth-child(4):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-4-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(5) .choco_wrapp {
        background: url("../img/chocolate/rs-5.png") center center; }
      .drwrap .dritems .dritem:nth-child(5):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-5-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(6) .choco_wrapp {
        background: url("../img/chocolate/rs-6.png") center center; }
      .drwrap .dritems .dritem:nth-child(6):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-6-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(7) .choco_wrapp {
        background: url("../img/chocolate/rs-7.png") center center; }
      .drwrap .dritems .dritem:nth-child(7):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-7-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(8) .choco_wrapp {
        background: url("../img/chocolate/rs-8.png") center center; }
      .drwrap .dritems .dritem:nth-child(8):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-8-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(9) .choco_wrapp {
        background: url("../img/chocolate/rs-9.png") center center; }
      .drwrap .dritems .dritem:nth-child(9):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-9-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(10) .choco_wrapp {
        background: url("../img/chocolate/rs-10.png") center center; }
      .drwrap .dritems .dritem:nth-child(10):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-10-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(11) .choco_wrapp {
        background: url("../img/chocolate/rs-11.png") center center; }
      .drwrap .dritems .dritem:nth-child(11):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-11-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(12) .choco_wrapp {
        background: url("../img/chocolate/rs-12.png") center center; }
      .drwrap .dritems .dritem:nth-child(12):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-12-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(13) .choco_wrapp {
        background: url("../img/chocolate/rs-13.png") center center; }
      .drwrap .dritems .dritem:nth-child(13):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-13-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(14) .choco_wrapp {
        background: url("../img/chocolate/rs-14.png") center center; }
      .drwrap .dritems .dritem:nth-child(14):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-14-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(15) .choco_wrapp {
        background: url("../img/chocolate/rs-15.png") center center; }
      .drwrap .dritems .dritem:nth-child(15):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-15-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(16) .choco_wrapp {
        background: url("../img/chocolate/rs-1.png") center center; }
      .drwrap .dritems .dritem:nth-child(16):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-1-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(17) .choco_wrapp {
        background: url("../img/chocolate/rs-2.png") center center; }
      .drwrap .dritems .dritem:nth-child(17):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-2-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(18) .choco_wrapp {
        background: url("../img/chocolate/rs-3.png") center center; }
      .drwrap .dritems .dritem:nth-child(18):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-3-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(19) .choco_wrapp {
        background: url("../img/chocolate/rs-4.png") center center; }
      .drwrap .dritems .dritem:nth-child(19):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-4-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(20) .choco_wrapp {
        background: url("../img/chocolate/rs-5.png") center center; }
      .drwrap .dritems .dritem:nth-child(20):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-5-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(21) .choco_wrapp {
        background: url("../img/chocolate/rs-6.png") center center; }
      .drwrap .dritems .dritem:nth-child(21):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-6-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(22) .choco_wrapp {
        background: url("../img/chocolate/rs-7.png") center center; }
      .drwrap .dritems .dritem:nth-child(22):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-7-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(23) .choco_wrapp {
        background: url("../img/chocolate/rs-8.png") center center; }
      .drwrap .dritems .dritem:nth-child(23):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-8-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(24) .choco_wrapp {
        background: url("../img/chocolate/rs-9.png") center center; }
      .drwrap .dritems .dritem:nth-child(24):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-9-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(25) .choco_wrapp {
        background: url("../img/chocolate/rs-10.png") center center; }
      .drwrap .dritems .dritem:nth-child(25):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-10-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(26) .choco_wrapp {
        background: url("../img/chocolate/rs-11.png") center center; }
      .drwrap .dritems .dritem:nth-child(26):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-11-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(27) .choco_wrapp {
        background: url("../img/chocolate/rs-12.png") center center; }
      .drwrap .dritems .dritem:nth-child(27):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-12-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(28) .choco_wrapp {
        background: url("../img/chocolate/rs-13.png") center center; }
      .drwrap .dritems .dritem:nth-child(28):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-13-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(29) .choco_wrapp {
        background: url("../img/chocolate/rs-14.png") center center; }
      .drwrap .dritems .dritem:nth-child(29):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-14-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(30) .choco_wrapp {
        background: url("../img/chocolate/rs-15.png") center center; }
      .drwrap .dritems .dritem:nth-child(30):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-15-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(31) .choco_wrapp {
        background: url("../img/chocolate/rs-1.png") center center; }
      .drwrap .dritems .dritem:nth-child(31):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-1-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(32) .choco_wrapp {
        background: url("../img/chocolate/rs-2.png") center center; }
      .drwrap .dritems .dritem:nth-child(32):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-2-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(33) .choco_wrapp {
        background: url("../img/chocolate/rs-3.png") center center; }
      .drwrap .dritems .dritem:nth-child(33):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-3-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(34) .choco_wrapp {
        background: url("../img/chocolate/rs-4.png") center center; }
      .drwrap .dritems .dritem:nth-child(34):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-4-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(35) .choco_wrapp {
        background: url("../img/chocolate/rs-5.png") center center; }
      .drwrap .dritems .dritem:nth-child(35):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-5-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(36) .choco_wrapp {
        background: url("../img/chocolate/rs-6.png") center center; }
      .drwrap .dritems .dritem:nth-child(36):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-6-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(37) .choco_wrapp {
        background: url("../img/chocolate/rs-7.png") center center; }
      .drwrap .dritems .dritem:nth-child(37):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-7-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(38) .choco_wrapp {
        background: url("../img/chocolate/rs-8.png") center center; }
      .drwrap .dritems .dritem:nth-child(38):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-8-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(39) .choco_wrapp {
        background: url("../img/chocolate/rs-9.png") center center; }
      .drwrap .dritems .dritem:nth-child(39):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-9-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(40) .choco_wrapp {
        background: url("../img/chocolate/rs-10.png") center center; }
      .drwrap .dritems .dritem:nth-child(40):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-10-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(41) .choco_wrapp {
        background: url("../img/chocolate/rs-11.png") center center; }
      .drwrap .dritems .dritem:nth-child(41):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-11-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(42) .choco_wrapp {
        background: url("../img/chocolate/rs-12.png") center center; }
      .drwrap .dritems .dritem:nth-child(42):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-12-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(43) .choco_wrapp {
        background: url("../img/chocolate/rs-13.png") center center; }
      .drwrap .dritems .dritem:nth-child(43):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-13-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(44) .choco_wrapp {
        background: url("../img/chocolate/rs-14.png") center center; }
      .drwrap .dritems .dritem:nth-child(44):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-14-hov.png") center center; }
      .drwrap .dritems .dritem:nth-child(45) .choco_wrapp {
        background: url("../img/chocolate/rs-15.png") center center; }
      .drwrap .dritems .dritem:nth-child(45):hover .choco_wrapp {
        background: url("../img/chocolate/hover/rs-15-hov.png") center center; }


/*.drwrap .dritems .dritem:hover{*/
/*z-index: 5;*/
/*}*/
.drwrap .dritems .dritem:nth-child(1n):hover .choco_wrapp {
  /*transform: scale(2) !important;*/
  background-size: cover;
  /*z-index: 5;*/
}